.page_links {
    margin: 20px auto; width: 100%; text-align: center;
}

.prev_page, .next_page {
    margin: 0 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
    color: #4c4c4e;
}

h2 {
    color: #76787A;
    font-size: 28px;
}

a,
a:hover,
a:active {
    /* color: #4379BD !important; */
}

div.admonition.note {
    margin: 0 0 20px 0;
    padding: 15px;
    border: 1px #c1deeb solid;
    border-radius: 2px;
    background: #e7f2f7;
    color: #4c4c4e;
}

figure {
    display: inline-block !important;
}

div#sidebar ul li {
    list-style: none;
}
